body {
    background-color: rgb(94, 93, 93);
    box-shadow: 0 0 12px -2px black;
    /* height: 100vh; */
    padding: 0;
    max-width: 960px;
    margin: 0 auto;
}

nav {
    box-shadow: 0 0 15px -2px rgb(0, 0, 0);
    position: fixed;
    left: 5;
    right: 10;
    align-items: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    height: 80px;
    padding: 10px;
    display: inline-table;
    justify-content: center;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: x-large;
    margin: 0 5px;
}

main {
    min-height: 100vh;
    padding: 85px 24px 96px;
    box-shadow: 0 0 12px -2px rgb(255, 255, 255);
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

form {
    font-size: 25px;
    max-width: 660px;
    margin: auto;
}

footer {
    background-color: #000000;
    color: aliceblue;
    height: 70px;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 12px -2px rgb(0, 0, 0);
}

